Here I will using scikit-learn to perform PCA in Jupyter Notebook.

First, I need some example to get familiar with this

Get our data and analysis it

In [2]:
import numpy as np
from sklearn.decomposition import PCA
import pandas as pd
df = pd.read_csv('Manhattan.txt', sep='\s+')
df.drop('id', axis=1, inplace=True)
df.tail()

,anger,contempt,disgust,fear,happiness,neutral,sadness,surprise,lat,lon,photo_take_date
127671,1.750000e-11,8.250000e-12,4.110000e-13,8.490000e-15,1.000000,1.260000e-11,2.090000e-12,3.600000e-12,40.756221,-73.98645,2016-12-31
127672,6.140000e-07,4.780000e-08,4.080000e-06,6.310000e-11,0.999995,8.890000e-09,1.310000e-08,1.900000e-08,40.756221,-73.98645,2016-12-31
127673,2.180000e-05,2.060000e-08,1.250000e-05,1.150000e-08,0.999965,1.420000e-07,1.170000e-07,7.390000e-07,40.756221,-73.98645,2016-12-31
127674,1.400000e-06,9.870000e-06,3.960000e-07,7.290000e-11,0.999988,1.500000e-07,2.120000e-09,3.450000e-08,40.756221,-73.98645,2016-12-31
127675,5.880000e-10,2.460000e-10,8.700000e-10,1.380000e-14,1.000000,1.470000e-10,2.570000e-11,3.340000e-11,40.756221,-73.98645,2016-12-31

how to index a given part of a DataFrame have been a problem for me. 

Refer `pandas/html/10min.html#selection-by-position` to keep in mind(link to file outside this dir not work well)
`file:///C:/work/python/%E6%96%87%E6%A1%A3/pandas/html/10min.html#selection-by-position`

In [3]:
tdf = df.iloc[:, 0:-3]
tdf.tail()

,anger,contempt,disgust,fear,happiness,neutral,sadness,surprise
127671,1.750000e-11,8.250000e-12,4.110000e-13,8.490000e-15,1.000000,1.260000e-11,2.090000e-12,3.600000e-12
127672,6.140000e-07,4.780000e-08,4.080000e-06,6.310000e-11,0.999995,8.890000e-09,1.310000e-08,1.900000e-08
127673,2.180000e-05,2.060000e-08,1.250000e-05,1.150000e-08,0.999965,1.420000e-07,1.170000e-07,7.390000e-07
127674,1.400000e-06,9.870000e-06,3.960000e-07,7.290000e-11,0.999988,1.500000e-07,2.120000e-09,3.450000e-08
127675,5.880000e-10,2.460000e-10,8.700000e-10,1.380000e-14,1.000000,1.470000e-10,2.570000e-11,3.340000e-11

取一个主成分， 解释方差0.917864

In [11]:
pca = PCA(n_components=8)
pca.fit(tdf)
np.set_printoptions(precision=6, suppress=True)

print('各主成份方差贡献占比：', end=' ')
print(pca.explained_variance_ratio_)

emotion_score = pd.DataFrame(pca.transform(tdf))
emotion_score.rename(columns={'0': 'emotion_score'}, inplace=True)
# 第一个主成份
pd.concat([df, emotion_score.loc[:, 0]], axis=1, join='inner').rename(index=str, columns={0: 'emotion_score'}).to_csv('Manhattan_score_raw.txt', index=None, sep='\t')

各主成份方差贡献占比： [ 0.917864  0.049784  0.017075  0.009985  0.00328   0.001139  0.000874  0.      ]